body{
    margin:0;
    background: darkgray;

    /*
        this is supposed to prevent
        the scrollbar from showing 
        if the canvas gets larger than the window
    */
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

#carCanvas{
    background: lightgray;
}

#networkCanvas{
    background: black;
}